In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
for i in range(50):
    if(i%2 != 0):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [3]:
tuple1 = ('hello')
n = 3

for i in range(int(n)):
    Tuple = (tuple1,)
    print(Tuple)

('hello',)
('hello',)
('hello',)

In [4]:
tuple2 = ('developer', 5 , 6.8, 'r' , 8)
print(len(tuple2))

5

In [5]:
tuple3 = (9,5,89,4,8)
print(max(tuple3))
print(min(tuple3))
print(sum(tuple3))
print(sorted(tuple3, reverse=True))

89
4
115
[89, 9, 8, 5, 4]

In [6]:
tuple4 = (4,1)
print(all(tuple4))

True

In [7]:
value1 = (26,45,'hello', 7.5)
value2 = (26,45,'hello', 7.5)

value3 = value1 , value2
value4 = value1 + value2
print(value3)
print(value4)

((26, 45, 'hello', 7.5), (26, 45, 'hello', 7.5))
(26, 45, 'hello', 7.5, 26, 45, 'hello', 7.5)

In [8]:
n = int(input("Enter the number of elements: "))
list2 = []

for i in range(n):
    list2.append(int(input()))

value = tuple(list2)
print("Tuple:", value)

Enter the number of elements:  3
 1
 23
 4

Tuple: (1, 23, 4)

In [9]:
num = ('1','2','3','4')
i = 0
while i < len(num):
    print(num[i])
    i = i + 1

1
2
3
4

In [14]:
value_tup = (26,12,10,6,67,91,45,'hello', 7.5, 99,7, 'name')

for i in value_tup:
    if i == 45:
        print(i)

45

In [15]:
# unpacking the tuples

In [19]:
number = ('1','2','3','4')
(a,b,c,d) = number
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [22]:
number = ('1','2','3','4')
(a,b,c, d) = number
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [24]:
number = ('1','2','3','4')
(*a,b,c) = number
print(*a)
print(b)
print(c)

1 2
3
4