In [1]:
num_tuple = (1, 2, 3)
print(num_tuple)

mixed_tuple = (10, "Python", 3.14, True)
print(mixed_tuple)

nested_tuple = (1, (2, 3), ("a", "b"))
print(nested_tuple)

(1, 2, 3)
(10, 'Python', 3.14, True)
(1, (2, 3), ('a', 'b'))

In [22]:
empty_tuple = ()
print(empty_tuple)

single_element_tuple = (42,)
print(single_element_tuple, type(single_element_tuple))

tuple_of_tuples = ((1, 2), (3, 4), (5, 6))
print(tuple_of_tuples)

()
(42,) <class 'tuple'>
((1, 2), (3, 4), (5, 6))

In [3]:
string_tuple = ("apple", "banana", "cherry")
print(string_tuple)

('apple', 'banana', 'cherry')

In [4]:
boolean_tuple = (True, False, True)
print(boolean_tuple)

(True, False, True)

In [5]:
tuple_with_list = (1, [2, 3], 4)
print(tuple_with_list)

(1, [2, 3], 4)

In [6]:
string_tuple = ("apple")
print(string_tuple)

apple

In [7]:
tuple1 = (1, 2, 3)
tuple2 = 4, 5, 6
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  

tuple3 = ("a", "b")
tuple4 = ("c", "d")
result_tuple = tuple3 + tuple4
print(result_tuple)  

tuple5 = (True, False)
tuple6 = (7, 8, 9)
combined_tuple = tuple5 + tuple6
print(combined_tuple)

(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')
(True, False, 7, 8, 9)

In [26]:
tuple1 = (1, 2, 3)
tuple2 = 4, 5, 6
concatenated_tuple = tuple1 + tuple2
concatenated_tuple1 = tuple1 , tuple2
print(concatenated_tuple)
print(concatenated_tuple1)

(1, 2, 3, 4, 5, 6)
((1, 2, 3), (4, 5, 6))

In [27]:
tuple_example = ["Python"] * 3
print(tuple_example) 

num_tuple = (1, 2) * 4
print(num_tuple)

['Python', 'Python', 'Python']
(1, 2, 1, 2, 1, 2, 1, 2)

In [10]:
my_tuple = (10, 20, 30, 40, 50)

print(my_tuple[0]) 
print(my_tuple[3])

10
40

In [28]:
my_tuple = (26, 45, 'Hello', 7.5, 'z',5,6.9)
sliced_tuple = my_tuple[1:3:2]
print(sliced_tuple)

(45,)

In [12]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)  

del my_tuple
print(my_tuple)

(1, 2, 3, 4, 5)

NameError: name 'my_tuple' is not defined

In [13]:
tuple1 = (0,1)
print(any(tuple1))

True

In [14]:
tuple2 = (0,-1)
print(all(tuple2))

False

In [15]:
tp = ()
print(all(tp))

True

In [16]:
tuple = 1,2,3
for i in tuple:
    print(i)

1
2
3

In [17]:
tuple2 = (3,4,5,7,8,'y',3,2,'y',3)
print(tuple2.count('y'))
print(tuple2.index('y'))
print(tuple2.count(3))
print(tuple2.count(9))

2
5
3
0

In [18]:
empty_tuple = ()
print(empty_tuple)

()